.imagen {
    width: 350px;
    height: 450px;
}

.titulo1 {
    font-size: 45px;
    color: rgb(0, 26, 196)
}

.titulo2 {
    font-size: 45px;
    color: rgb(100, 120, 255)
}

.parrafo {
    font-size: 30px;
}

.foto-titulo {
    font-size: 25px;
    font-weight: 800;
}

.links {
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.links:hover {
    color:rgb(100, 120, 255)
}

.boton {
    background-color: red;
    color: white;
    width: 500px;
    height: 100px;
    font-size: 35px;
}